@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@700&family=Sora:wght@600&display=swap');

:root {
    --dark-10: #293145;
    --dark-20: #6E7275;
    --dark-30: #DBDBDB;
    --white: #FFF;
    --blue-10: #0F9AFE;
    --blue-20: #EFF8FF;
    --inter: "Inter", sans-serif;
    --sora: "Sora", sans-serif;
    --roboto: "Roboto", sans-serif;
    font-size: 62.5%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: var(--sora);
    background-color: var(--white);
    color: var(--dark-20);
}

h1, h2, h3, h4 {
    font-weight: 600;
    color: var(--dark-10);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--dark-20);
    transition: all .4s ease;
}

a:hover, button:hover {
    opacity: 0.85;
}

.container {
    max-width: 122rem;
    padding: 0 1.8rem;
    margin: 0 auto;
    display: flex;
}

.btn {
    border-radius: 5rem;
    background: var(--blue-10);
    box-shadow: 0.1rem 0.3rem 0.4rem 0 rgba(19, 125, 224, 0.50);
    border: none;
    color: var(--white);
    font-family: var(--inter);
    cursor: pointer;
    transition: all .4s ease;
}

/* ---- Header ---- */
header {
    padding: 2rem 0;
}

header .container {
    align-items: center;
    justify-content: space-between;
}

header .header__logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

nav ul {
    display: flex;
}

nav ul li a {
    padding: 2rem 3.3rem;
    font-family: var(--inter);
    font-weight: 500;
    font-size: 1.8rem;
    transition: all .4s ease;
}

/* ---- Section Hero ---- */
.hero {
    background-color: var(--blue-20);
    height: 60vh;
}

.hero .container {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.hero button {
    padding: 1.6rem 3.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

/* ---- Section Functionality ---- */
#functionality .container {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.functionality__title {
    margin-top: 5.6rem;
}

.functionality__content {
    display: flex;
    width: 100%;
}

.maxWidth210 {
    max-width: 21rem;
}

.functionality__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-bottom: 10rem;
}

.functionality__item--title {
    color: var(--dark-10);
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 2.8rem;
    margin-bottom: 1.6rem;
}

.functionality__item p:last-child {
    color: var(--dark-20);
    text-align: center;
    font-family: var(--inter);
    font-weight: 400;
    line-height: 2.6rem;
}

/* ---- Section App ---- */
#app {
    background-color: var(--blue-20);
}

#app .container {
    align-items: center;
    justify-content: space-between;
    padding: 6rem 1.8rem;
}

.app__title p {
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
    max-width: 45rem;
    color: var(--dark-20);
    font-family: var(--inter);
    font-weight: 400;
    line-height: 2.6rem;
}

.app__group-buttons {
    display: flex;
    gap: 2rem;
}

/* ---- Section Plan ---- */
#plan .container {
    flex-direction: column;
    align-items: center;
    padding: 6rem 1.8rem;
}

.plan__title {
    text-align: center;
}

.plan__title>div,
.contact__title>div {
    margin-top: 1.6rem;
    max-width: 57rem;
}

.plan__title p {
    color: var(--dark-20);
    text-align: center;
    font-family: var(--inter);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.plan__container-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 9.6rem;
}

.plan__card,
.plan__card--preferred {
    padding: 5.6rem 3.5rem 6.4rem 3.5rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .3s;
}

.plan__card:hover {
    box-shadow: 0 0 1.1rem rgba(33, 33, 33, .2);
}

.plan__card {
    background-color: var(--blue-20);
}

.plan__card--preferred {
    background-color: var(--dark-10);
}

.plan__card--preferred .plan__card-head div:first-child {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.plan__card-head>div {
    display: flex;
}

.plan__card .plan__card-head>div {
    margin-top: 5.8rem;
}

.plan__card .plan__card-head>div span,
.plan__card--preferred .plan__card-head>div span {
    font-family: var(--roboto);
    font-weight: 700;
}

.plan__card .plan__card-head>div span {
    color: var(--dark-10);
}

.plan__card--preferred .plan__card-head h4,
.plan__card--preferred .plan__card-head>div span {
    color: var(--white);
}

.plan__card-head>div span:first-child {
    font-size: 2rem;
    margin-top: .8rem;
}

.plan__card-head>div span:nth-child(2) {
    font-size: 5rem;
}

.plan__card-head>div span:last-child {
    font-size: 2.6rem;
    align-self: flex-end;
    margin-bottom: .8rem;
}

.plan__card-description {
    margin: 4.5rem 0;
}

.plan__card .plan__card-description p,
.plan__card--preferred .plan__card-description p {
    font-family: var(--inter);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.plan__card .plan__card-description p {
    color: var(--dark-20);
}

.plan__card--preferred .plan__card-description p {
    color: var(--dark-30);
}

.plan__container-cards button {
    font-size: 2rem;
    font-weight: 700;
    padding: 1.2rem 8rem;
}

.plan__card button {
    box-shadow: .1rem .3rem .4rem rgba(19, 125, 224, 0.50);
}

.plan__card--preferred button {
    box-shadow: .1rem .3rem 1rem 0 rgba(17, 37, 56, 0.50);
}

.tag__preffered {
    background-color: var(--blue-10);
    color: var(--white);
    text-align: center;
    padding: .8rem 3.2rem;
    border-radius: 1.5rem;
}

.tag__preffered p {
    font-family: var(--inter);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.28rem;
    text-transform: uppercase;
}

/* ---- Section Contact ---- */
#contact {
    background-image: linear-gradient(rgba(41, 49, 69, 0.70), rgba(41, 49, 69, 0.70)), url('../images/contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 40vh;
}

#contact .container {
    flex-direction: column;
    align-items: center;
    padding: 6rem 1.8rem;
}

.contact__title {
    text-align: center;
}

.contact__title h2 {
    color: var(--white);
}

.contact__title p {
    color: var(--dark-30);

    font-family: var(--inter);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.contact__form {
    margin-top: 9.3rem;
    display: flex;
    gap: 4rem;
}

.contact__form input {
    background-color: transparent;
    border-right: none;
    border-bottom: .1rem solid var(--white);
    color: var(--white);
    font-family: var(--inter);
    width: 28rem;
    padding: 1rem 0;
}

.contact__form input:focus {
    border-bottom: .1rem solid var(--blue-10);
    transition: .2s ease-in-out;
    outline: none;
}

.contact__form input::placeholder {
    color: var(--white);
    font-weight: 500;
    font-size: 1.7rem;
}

.contact__form input:focus::placeholder {
    transition: 0.4s ease-in-out;
    font-size: 1.5rem;
}

.contact__form button {
    box-shadow: none;
    padding: .8rem 3.2rem;
    font-size: 1.8rem;
    font-weight: 500;
}


/* ---- Footer ---- */
footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container p {
    padding: 4rem 0;
    color: var(--dark-10);
    font-size: 2rem;
}


/* ---- Media queries ---- */
@media (max-width: 992px) {
    .plan__container-cards {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 7rem;
    }

    .plan__card,
    .plan__card--preferred {
        width: 42rem;
    }
}

@media (max-width: 890px) {

    .hero__image,
    .hero br:first-child {
        display: none;
    }

    .hero .container {
        justify-content: center;
    }

    #app .container {
        justify-content: center;
        text-align: center;
    }

    .app__title p {
        max-width: 100%;
    }

    .app__group-buttons {
        justify-content: center;
    }

    .app__image {
        display: none;
    }
}


@media (max-width: 760px) {
    h1 {
        font-size: 3.6rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2.4rem;
    }
    
    h4 {
        font-size: 1.8rem;
    }
    
    nav {
        display: none;
        /* esconde os itens da nav */
    }

    .menu-toggle {
        width: 4rem;
        /* define o tamanho do container que engloba o menu hambúrguer */
        height: 3rem;
        margin-right: 2rem;
    }

    .one,
    .two,
    .three {
        background-color: var(--dark-10);
        /* cria os três traços do menu hambúrguer */
        height: 0.5rem;
        width: 100%;
        margin: 0.6rem auto;
        transition-duration: 0.3s;
        border-radius: 0.5rem;
    }

    /* Fullscreen ao ser clicado */
    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--blue-20);
        z-index: 10;
        /* para ficar posicionado sobre os demais elementos da página */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
        /* exibe os itens da nav que foram escondidos no primeiro passo (só serão exibidos caso estejam com a classe "on" - que será manipulada no Javascript) */
    }

    /* Faz com que o container do hambúrguer fique à direita da nav */
    .menu-section.on .menu-toggle {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    /* Manipula a forma da primeira barra para virar um X */
    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(0.7rem, 0.7rem);
    }

    /* Esconde a segunda barra */
    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    /* Manipula a forma da primeira terceira para virar um X */
    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(0.8rem, -0.9rem);
    }

    /* Itens ficam ao centro e um abaixo do outro */
    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3rem;
        line-height: 4rem;
        /* aumenta a distância de um item para o outro */
        display: block;
    }

    footer .container p {
        font-size: 1.6rem;
        text-align: center;
    }
}

@media (max-width: 620px) {
    .functionality__content {
        flex-wrap: wrap;
    }

    .functionality__item {
        margin-bottom: 3.5rem;
    }

    .functionality__item:last-child {
        margin-bottom: 5.6rem;
    }
}

@media (max-width: 480px) {
    .contact__form {
        flex-direction: column;
    }
}

@media (max-width: 420px) {
    .app__group-buttons {
        flex-direction: column;
    }
}